torch
torchvision
einops
torchmetrics
wandb
pyyaml
scikit-learn
pandas
matplotlib
meshio
pytest
h5py
kappabenchmark
kappaconfig
kappadata
kappamodules
kappaprofiler
kappautils
neuraloperator
torch_geometric
torch_harmonics
wget
open3d

kappabenchmark